<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>barchart</title>
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
<svg width="960" height="500"></svg>
<div class="chart">
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    {{ numb }}



var data = {{ numb }};

var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, 420]);

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>
</div>
</head>
<body>

</body>
</html>